.heading1 {
    margin: 10px;
    font-family: "Playfair Display SC", serif;
    font-style: normal;
    font-size: 3rem;
color: #ffffff;
      
}

header {
    background-color: #202020; /* White header background */
    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: #333; /* Dark grey link color */
    padding: 10px 18px;
    margin: 0 10px;
    background-color: #faf8f8;
    font-weight:700 ;
}

#about {
    border: 3px solid black;
    border-radius: 5px;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cacaca

}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}


@media (max-width: 460px) {
    .heading1 {
        font-size: 35px;
    }
}