.heading1 {
    margin: 10px;
    font-family: "Playfair Display SC", serif;
    font-style: normal;
    font-size: 3rem;

      
}
header {
    background-color: #ffffff; /* White header background */
    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: #333; /* Dark grey link color */
    padding: 10px 20px;
    margin: 0 10px;
    transition: color 0.3s;
}

nav a:hover {
    /* color: #666; /* Lighter grey on hover */
    font-weight:700 ;
    border-bottom: 3px solid black;
    background-color: #faf8f8;
    /* border-radius: 5px; */
}

#contact {
    border: 3px solid black;
    border-radius: 5px;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
    resize: none;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    .container {
        max-width: 90%;
        margin: 30px auto;
    }
}

@media screen and (max-width: 400px) {
    input[type="text"],
    input[type="email"],
    textarea {
        padding: 8px;
        font-size: 14px;
    }

    button {
        padding: 10px 18px;
        font-size: 14px;
    }
}